# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^commande$   index.php [nc,qsa]
RewriteRule ^commande/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^contient$   index.php [nc,qsa]
RewriteRule ^contient/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^historique$   index.php [nc,qsa]
RewriteRule ^historique/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^ingredient$   index.php [nc,qsa]
RewriteRule ^ingredient/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^produit$   index.php [nc,qsa]
RewriteRule ^produit/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^tables$   index.php [nc,qsa]
RewriteRule ^tables/([0-9]+)$   index.php [nc,qsa]