body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Light" ;
  header {
    height: 75px;
    background-color: #00A2D3;
    a {
      text-decoration: none;
      .header {
        display: flex;
        color: white;
        font-size: 60px;

        img {
          max-height: 75px;
          margin-left: 30px;
        }

        p {
          margin: 0;
          margin-left: 30px;
        }
      }
    }
  }
  .content {
    display: flex;
    #gauche {
      display: flex;
      width: 70%;
      flex-direction: column;
      text-align: center;
      .produit {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-self: center;
        .ligne {
          display: flex;
          margin-left: 60px;
          margin-top: 20px;
          align-items: center;
          .imgdelete {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
          .colonne {
            width: 15%;
          }
          img {
            width: 75px;
            height: 75px;
            border-radius: 50px;
            margin-right: 20px;
          }
        }

      }
    }
    .droite {
      background: white;
      margin-top: 20px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border-radius: 15px 15px 0px 0px ;
      .affichageTable {
        a{
          text-decoration: none;
          color: black;
        }
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .carte {
          margin-top: 20px;
          height: 150px;
          width: 200px;
          cursor: pointer;
          margin-bottom: 20px;
          .red {
            color: #d51919;
          }
          p {
            margin:0;
            padding: 0;
          }
          img {
            height: 80%;
            width: 80%;
          }
        }
      }
    }
  }
  .droitetable{
    background-color: #202332;
    width: 30%;
    height: 10000px;
    color: white;
    text-align: center;
    .nbPersonne {
      justify-content: center;
      align-items: center;
      display: flex;
      p {
        margin-right: 10px;
      }
      #inputFondBlanc {
        background: white;
        color: black;
      }
      input {
        background: #00A2D3;
        border: none;
        color: white;
      }
    }
    .ligne {

      display: flex;
      margin: 10px 0px 10px 15px;
      align-items: center;
      .ajouterProduit {
        width: 30px;
        height: 30px;
        align-self: center;
        cursor: pointer;
      }
      img{
          width: 50px;
          height: 50px;
          border-radius: 50px;

      }
      .colonne {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        width: 70%;
        p {
          margin-left: 10px;
        }
      }
    }

  }
}

