html {
  height: 100%;
  font-family: Pizza;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    header {
      @media (min-width: 750px) {
        justify-content: normal;
      }
      height: 15%;
      background-color: #00A2D3;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        .header {
          display: flex;
          color: white;
          font-size: 60px;

          img {
            @media (min-width: 750px) {
              margin-left: 30px;
            }
            max-height: 75px;
          }

          p {
            font-size: 60px;
            margin: 0;
            margin-left: 30px;
          }
        }
      }
    }
    .content {
      display: block;
      height: 85%;
      @media (min-width: 750px) {
        display: flex;
      }
      #gauche {
        .errCommandeInfo {
          font-size: 30px;
          color: red;
        }
        #hidden {
          display: none;
        }
        @media (min-width: 750px) {
          width: 70% ;
        }
        .commande {
          font-size: 25px;
          transition: 1s;
          &:hover {
            text-decoration: underline;
            text-decoration-color: red;
            color: red;
            cursor: pointer;
            transition: 1s;
          }
        }
        .lignecommande {
          p:hover {
            color: red;
            cursor : pointer;
            transition: 1s;
          }
          .trash {
            transition: 1s;
            &:hover {
              color: red;
              cursor: pointer;

            }
            &:active {
              color: red;
              transition: 1s;
            }
          }
        }
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .produit {
          @media (min-width: 750px) {
            width: 80% ;
          }
          display: flex;
          flex-direction: column;
          width: 100%;
          align-self: center;
          font-size: 30px;
          .ligne2 {
            display: flex;
            justify-content: space-between;
            @media (min-width: 750px) {
              justify-content: center;
              margin-top: 20px;
            }
            align-items: center;
            .delete {

            }
            .imgdelete {
              width: 30px;
              height: 30px;
              cursor: pointer;
              &:hover {
                content: url("../img/deletetwo.png");
              }
            }
            .colonne {
              width: 15%;
              .old {
                width: 75px;
              }
            }
            img {
              width: 75px;
              height: 75px;
              border-radius: 50px;
              margin-right: 20px;
            }
          }

        }
        .valider {
          background-color: #9fe820;
          height: 50px;
          width: 200px;
          cursor: pointer;
          margin-top: 10px;
          transition: 0.5s;
          &:hover {
            background-color: #83be1e;
            border-radius: 8px;
            transition: 0.5s;
            p {
              color: white;
              transition: 0.5s;
            }
          }
          p {
            font-size: 35px;
            margin: 0;
            margin-top: 9px;
            transition: 1s;
          }
        }
      }
      .droite {

        background: white;
        margin-top: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 15px 15px 0px 0px ;
        h1 {
          font-size: 40px;
        }
        .affichageTable {
          @media (min-width: 700px) {
            justify-content: normal;
            margin-left: 40px;
            margin-right: 40px;
          }
          a{
            margin-top: 35px;
            text-decoration: none;
            color: black;
          }
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 30px;
          .carte {
            @media (min-width: 750px) {
              height: 150px;
              width: 200px;
            }
            margin-top: 20px;
            cursor: pointer;
            margin-bottom: 20px;
            height: 100px;
            width: 125px;
            .red {
              color: #d51919;
            }
            p {
              margin:0;
              padding: 0;
              font-size: 25px;
            }
            img {
              height: 80%;
              width: 80%;
            }
          }
        }
      }
    }
    .droitetable{
      @media (min-width: 750px) {
        width: 30% ;
      }
      #hidden {
        display: none;
      }
      .hidden {
        display: none;
        }
      height: 100%;
      background-color: #202332;
      width: 100%;
      color: white;
      text-align: center;
      padding-bottom: 20px;
      .nbPersonne {
        justify-content: center;
        align-items: center;
        display: flex;
        .hidden {
          display: none;
        }
        p {
          @media (min-width: 750px) {
            font-size: 30px;
          }
          margin-right: 10px;
          font-size: 25px;
        }
        #inputFondBlanc {
          background: white;
          color: black;
        }
        input {
          @media (min-width: 750px) {
            padding: 5px;
          }
          padding: 10px;
          background: #00A2D3;
          border: none;
          color: white;
        }
      }
      select {
        padding: 5px;
      }
      .ligne {
        display: flex;
        padding: 10px;
        align-items: center;
        background-color: #202332;
        .ajouterProduit {
          width: 30px;
          height: 30px;
          align-self: center;
          cursor: pointer;
          &:hover {
            content: url("../img/addtwo.png");
          }
        }
        img{
          width: 50px;
          height: 50px;
          border-radius: 50px;

        }
        .colonne {
          display: flex;
          margin-left: 10px;
          margin-right: 10px;
          width: 70%;
          p {
            margin-left: 10px;
            font-size: 28px;
          }
        }
      }

    }
  }
}


@font-face {
  font-family: Pizza;
  src: url("../font/panpizza.ttf");
}