body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Light" ;
  header {
    height: 75px;
    background-color: #00A2D3;
    .header {
      display: flex;
      color: white;
      font-size: 60px;
      img {
        max-height: 75px;
        margin-left: 30px;
      }
      p {
        margin:0;
        margin-left: 30px;
      }
    }
  }
  .content {
    display: flex;
    .droite {
      background: white;
      margin-top: 20px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border-radius: 15px 15px 0px 0px ;
      .affichageTable {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .carte {
          margin-top: 20px;
          height: 150px;
          width: 200px;
          cursor: pointer;
          margin-bottom: 20px;
          .red {
            color: #d51919;
          }
          p {
            margin:0;
            padding: 0;
          }
          img {
            height: 80%;
            width: 80%;
          }
        }
      }
    }
  }
}
