# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^commande$   index.php [nc,qsa]
RewriteRule ^commande/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^commande/tables/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^commande/lastid$   index.php [nc,qsa]
RewriteRule ^contient$   index.php [nc,qsa]
RewriteRule ^contient/([0-9]+)/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^contient/produit/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^contient/commande/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^historique$   index.php [nc,qsa]
RewriteRule ^historique/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^produit$   index.php [nc,qsa]
RewriteRule ^produit/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^produit/categorie/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^tables$   index.php [nc,qsa]
RewriteRule ^tables/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^taille$   index.php [nc,qsa]
RewriteRule ^taille/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^taille_produit$   index.php [nc,qsa]
RewriteRule ^taille_produit/([0-9]+)/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^taille_produit/produit/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^taille_produit/taille/([0-9]+)$   index.php [nc,qsa]
RewriteRule ^categorie$   index.php [nc,qsa]
RewriteRule ^categorie/([0-9]+)$   index.php [nc,qsa]