.parent {
    -fx-background-color: #fff;
}

.slideBar {
    -fx-background-color: #00369B;
    -fx-font-family: "Arial Rounded MT Bold";
}

.btns {
    -fx-background-color: transparent;
    -fx-font-family: Bahnschrift;
}

.btnsSelect {
    -fx-background-color: #394581;
}

.box {
    -fx-background-color: #04081F;
}

.boxNo {
    -fx-background-color: #0b1558;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.boxModif {
    -fx-background-color: #0b1558;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.textSlideBar {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.textInfoSupl {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
    -fx-padding: 8px;
}

.textInfoSuplLittel {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
    -fx-padding: 8px;
}

.textProduitLitlle {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
    -fx-padding: 8px;
}

.textTitleProduit {
    -fx-text-fill: white;
    -fx-padding: 15px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}

.titleBar {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 30px;
}

.titleBarProduitSupr {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
}

.hoverHSlide:hover {
    -fx-background-color: #0C185F;
}

.hoverHSlideSelect {
    -fx-background-color: #1b2e91;
}

.infoBox {
    -fx-background-color: #010208;
}

.boxHistory, .boxTable {
    -fx-background-color: #2969c0;
    -fx-background-radius: 50px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-border-color: white;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
}

.boxInfoTable {
    -fx-background-color: #0b1558;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.boxListeCommande {
    -fx-background-color: #202d96;
    -fx-background-radius: 10px;
    -fx-border-color: #bab1b1;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.textTable {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

/*
.boxHistory:hover {
    -fx-background-color: #0744d7;
}*/

.scrollInfo {
    -fx-background-color: #0b1558;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scrollPane .viewport {    -fx-background-color: #010208;}
.scrollPaneInfo .viewport {    -fx-background-color: #0b1558;}

.scrollPane, .scrollPaneInfo {
    -fx-background-color: #010208;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scrollPane:focused, .scrollPaneInfo:focused {
    -fx-background-color: #010208;
    -fx-background-insets: 0;
}

.scrollPane .corner, .scrollPaneInfo.corner {
    -fx-background-color: #010208;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .track {
    -fx-border-color:transparent transparent transparent #1D1D1D;
    -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, #323232 0%, #212121 100%);
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #0744d7;
    -fx-effect: dropshadow(one-pass-box,#000000,2.0,0.7,0.0,0.0);
    -fx-background-insets: 3 3 3 3;
    -fx-background-radius: 2em;
}

.increment-button, .decrement-button{
    -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, #323232 0%, #212121 100%);
    -fx-background-insets: 0px;
}

.imgBox {
    -fx-border-color: #010208;
    -fx-border-width: 5px;
}

.ButtonHover:hover {
    -fx-background-color: #0744d7;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.combo-box > .list-cell {
    -fx-text-fill: white;
}

.categorieHover:hover {
    -fx-background-color: #0744d7;
}

.buttonAddHover:hover {
    -fx-background-color: #0744d7;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}

.buttonBox {
    -fx-background-color: #00369B;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.infoButton {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: #04081F;
}

.infoButton:hover {
    -fx-background-color: #182254;
}

.buttonAdd {
    -fx-background-color: #00369B;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}

.boxHistoryInfo {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14px;
    -fx-padding: 9px;
    -fx-border-insets: 9px;
    -fx-background-insets: 9px;
}

.imgClose:hover {
    -fx-image: url("../../../../imgTools/close_hover.png");
}

.imgClose {
    -fx-image: url("../../../../imgTools/close.png");
}

.boxHistoryInfoLittle {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 10px;
}

.boxProduit {
    -fx-background-color: #00369B;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-background-radius: 15px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
}

.boxProduitButton {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-background-radius: 15px;
}

.boxProduitSupr {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-background-radius: 15px;
}

.textProduitLittle {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 11px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.buttonProduit {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: #04081F;
}

.buttonProduitSupr {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: #04081F;
    -fx-font-size: 20px;
}

.buttonProduit:hover, .buttonProduitSupr:hover {
    -fx-background-color: #181f56;
}

.textfieldsModif {
    -fx-background-color: #0744d7;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.textfieldsModif:hover {
    -fx-background-color: #255acd;
}

.importImage {
    -fx-background-color: #3563d2;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.importImage:hover {
    -fx-background-color: #184ccb;
}

.espace {
    -fx-padding: 15px 0px 0px 0px;
}

.space {
    -fx-padding: 30px 0px 0px 0px;
    -fx-spacing: 15px;
}