.parent {
    -fx-background-color: #fff;
}

.slideBar {
    -fx-background-color: #00369B;
    -fx-font-family: "Arial Rounded MT Bold";
}

.btns {
    -fx-background-color: transparent;
    -fx-font-family: Bahnschrift;
}

.btnsSelect {
    -fx-background-color: #394581;
}

.box {
    -fx-background-color: #04081F;
}

.textSlideBar {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.titleBar {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 30px;
}

.hoverHSlide:hover {
    -fx-background-color: #0C185F;
}

.infoBox {
    -fx-background-color: #010208;
}

.boxHistory {
    -fx-background-color: #2969c0;
    -fx-background-radius: 50px;
}

/*
.boxHistory:hover {
    -fx-background-color: #0744d7;
}*/

.imgBox {
    -fx-border-color: red;
    -fx-border-width: 5px;
}

.ButtonHover:hover {
    -fx-background-color: #0744d7;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.categorieHover:hover {
    -fx-background-color: #0744d7;
}

.buttonAddHover:hover {
    -fx-background-color: #0744d7;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}

.buttonBox {
    -fx-background-color: #00369B;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.buttonAdd {
    -fx-background-color: #00369B;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}

.boxHistoryInfo {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

.boxHistoryInfoLittle {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 10px;
}